/** @format */

* {
  margin: 0;
}

@font-face {
  font-family: 'Digital7';
  src: url(./font/digital-7.ttf) format('truetype');
<<<<<<< Updated upstream
=======
}
body {
  background-color: white;
>>>>>>> Stashed changes
}

/* Add Media Queries for Different Screen Sizes */

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .left-col {
    width: 100%;
    height: 100vh;
  }

  .logo {
    margin: 2% 0 5% 2%;
  }

  h1 {
    font-size: 30px;
    margin-top: 20%;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 5%;
    margin: 5%;
  }

  .vertical-banner {
    display: none;
  }

  .banner-logo {
    display: none;
  }

  .calculator-container {
    width: 100%;
    font-size: 20px;
  }
<<<<<<< Updated upstream
=======



  /* Add other adjustments for mobile as needed */
>>>>>>> Stashed changes
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .vertical-banner {
    display: none;
  }

  .banner-logo {
    display: none;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}

.left-col {
  width: 70%;
  background: #385170;
  position: absolute;
  top: 0;
  height: 190vh;
  z-index: -1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  align-items: center;
  background-image: linear-gradient(220deg, #570052, #fd96fd);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 200px;
  margin: 2% 0 5% 5%;
}
.img-croco {
  max-width: 200px;
}
h1 {
  font-family: 'Digital7';
  font-size: 45px;
  margin-top: 40%;
  margin-left: 5%;
}

.container {
  max-width: 20em;
}

.container > p {
  text-align: center;
}

.calculator {
  padding: 5% 10%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.con-publi {
  position: relative;
  padding: 10%;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}

.con-publi:hover img {
  transform: scaleX(-1);
}
figcaption {
  position: absolute;
  top: 5.9%;
  left: 15%;
  width: 200px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #142d4c;
  border-radius: 5px;
  color: #ececec;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto';
  padding: 2%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.con-publi:hover figcaption {
  opacity: 1;
}


.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #142d4c;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  font-family: 'Digital7';
  font-size: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.display {
  text-align: right;
  margin-bottom: 20px;
  background-color: #ececec;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 95px;
  width: 150px;
}
.display h2 {
  overflow: hidden;
  white-space: nowrap;
}

.icons img {
  width: 30px;
  height: 30px;
  background-color: #445b78;
  border-radius: 50%;
  box-shadow: inset 0px 5px 10px 0px #192f49;
  padding: 8px;
  margin: 10px 5px;
  box-sizing: content-box;
}
.icons img:hover {
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.cal-btn {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculatorKeys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculatorKeys > *:active::before,
.calculatorKeys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: '';
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.keyOperator {
  background-color: #eee;
}

.keyEqual {
  background-image: linear-gradient(to bottom, #fe6ad4, #ff33e0);
  grid-column: -2;
  grid-row: 2 / span 4;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

button {
  padding: 30px;
  font-size: 20px;
  font-family: 'Digital7';
  font-weight: bold;
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;
}
.func-button {
<<<<<<< Updated upstream
  background-color: #f6aaed;
}
.operator-button {
  background-color: #f6aaed;
  font-weight: bold;
}
.operator-button-equal {
  background-color: #f5dc7f;
  font-weight: bold;
}
.number-button-0 {
  grid-column: span 2;
  background-color: #8bd7f7;
}

.dot-button,
.number-button {
  background-color: #8bd7f7;
}
=======
  background-color: #9fd3c7;
  color: white;
}
<<<<<<< Updated upstream
.func-button .more {
  font-size: 50px;
}
.func-button[value='ac'] {
=======

/* .func-button[value="ac"] {
>>>>>>> Stashed changes
  grid-column: span 2;
}

.equal-button {
  background-color: #f95959;
}

.decimal-button {
  background-color: #9fd3c7;
  color: white;
}
.number-button {
  background-color: #8bd7f7;
}
.number-button[value='0'] {
  grid-column: span 2;
}
>>>>>>> Stashed changes

button:hover {
  background-color: #ececec;
}

.banner-logo {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 22%;
  padding: 0;
}
.banner-logo img {
  width: 70%;
  border-radius: 5px;
}

.copyright {
  margin: -3% 0 0 10%;
  font-family: 'Roboto';
  font-size: 20px;
}

.func-button,
.operator-button,
.number-button,
.decimal-button,
.equal-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.initial-color {
  background-color: #4aa18d;
  color: white;
}

.clicked-operator-color {
  background-color: #ececec;
  color: black;
}
