* {
  margin: 0;
}

@font-face {
  font-family: 'Digital7';
  src: url(./font/digital-7.ttf) format('truetype');
}
body {
  background-color: ;
}
.left-col {
  width: 70%;
  background: #385170;
  position: absolute;
  top: 0;
  height: 190vh;
  z-index: -1;
}

.logo {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  max-width: 200px;
  margin: 2% 0 5% 5%;
}
.img-croco {
  max-width: 200px;
}
h1 {
  font-family: 'Digital7';
  font-size: 45px;
  margin-top: 40%;
  margin-left: 5%;
}

.container {
  display: grid;
  grid-template-columns: 2fr auto;
  gap: 10%;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 2%;
}

.calculator {
  padding: 5% 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.con-publi{
  position: relative;
  padding: 10%;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  margin-right: 150px;
  margin-top: -100px;
  width: 300px;
}
.con-publi img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.con-publi:hover img {
  transform: scaleX(-1);

}
figcaption {
  position: absolute;
  top: 5.9%;
  left: 15%;
  width: 200px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #142d4c;
  border-radius: 5px;
  color: #ececec;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto';
  padding: 2%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.con-publi:hover figcaption{
  opacity: 1;
}

.banner-logo {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 12%;
  padding: 0;
}
.banner-logo img {
  width: 80%;
  border-radius: 5px;
}



.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#142d4c;
  box-shadow: 0px 5px 10px 0px #051324;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  font-family: 'Digital7';
  font-size: 30px;
}

.display {
  text-align: right;
  margin-bottom: 20px;
  background-color:#ececec;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 95px;
}

.icons img {
  width: 30px;
  height: 30px;
  background-color: #445b78;
  border-radius: 50%;
  box-shadow: inset 0px 5px 10px 0px #192f49;
  padding: 8px;
  margin: 10px 5px;
  box-sizing: content-box;
}
.icons img:hover{
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.cal-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 30px;
  font-size: 20px;
  font-family: 'Digital7';
  font-weight: bold;
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;
}
.func-button {
  background-color: #f6aaed;
}
.operator-button {
  background-color: #f6aaed;
  font-weight: bold;
}
.operator-button-equal{
  background-color: #f5dc7f;
  font-weight: bold;
}
.number-button-0 {
  grid-column: span 2;
  background-color: #8bd7f7;
}

.dot-button, .number-button {
  background-color: #8bd7f7;
}

button:hover {
  background-color: #ececec;
}

.copyright {
  margin: -3% 0 0 10%;
  font-family: 'Roboto';
  font-size: 20px;
}